appdirs==1.4.4
blinker==1.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Mail==0.9.1
importlib-metadata==3.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pbr==5.5.1
pkg-resources==0.0.0
six==1.15.0
stevedore==3.2.2
virtualenv==20.2.1
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
zipp==3.4.0
